<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.fit4life.app"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="7"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:hardwareAccelerated="true">
        <activity
            android:name="ru.fit4life.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.fit4life.app.BodyPartsActivity"
            android:label="@string/title_activity_body_parts"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.TablesActivity"
            android:label="@string/title_activity_tables"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.VideoActivity"
            android:label="@string/title_activity_video"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.UndergroundActivity"
            android:label="@string/title_activity_underground"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.UndergroundItemActivity"
            android:label="@string/title_activity_underground_item"
            android:parentActivityName="UndergroundActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="UndergroundActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.DiaryActivity"
            android:label="@string/title_activity_diary"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.AudioActivity"
            android:label="@string/title_activity_audio"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.PlannerActivity"
            android:label="@string/title_activity_planner"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.MeasurementsActivity"
            android:label="@string/title_activity_measurements"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.CommunicationActivity"
            android:label="@string/title_activity_communication"
            android:parentActivityName="MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="MainActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.ExercisesActivity"
            android:label="@string/title_activity_exercises"
            android:parentActivityName="BodyPartsActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="BodyPartsActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.ExercisesItemActivity"
            android:label="@string/title_activity_exercises_item"
            android:parentActivityName="ExercisesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="ExercisesActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.NutrientsActivity"
            android:label="@string/title_activity_nutrients"
            android:parentActivityName="TablesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TablesActivity" />
        </activity>
        <activity
            android:name="ru.fit4life.app.GlycemicIndexActivity"
            android:label="@string/title_activity_glycemic_index"
            android:parentActivityName="TablesActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="TablesActivity" />
        </activity>
    </application>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

</manifest>
